{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "react",
    "prettier"
  ],
  "settings": {
    "react": {
      "version": "18.0.0"
    }
  },
  "rules": {
    "prettier/prettier": "error",
    "@typescript-eslint/no-non-null-assertion": "off"
  }
}
